USE [master]
GO
/****** Object:  Database [CRUD-MVC]    Script Date: 15/02/2021 11:55:28 AM ******/
CREATE DATABASE [CRUD-MVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD-MVC', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CRUD-MVC.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CRUD-MVC_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CRUD-MVC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD-MVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD-MVC]
GO
/****** Object:  StoredProcedure [dbo].[spAddEmployee]    Script Date: 15/02/2021 11:55:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spAddEmployee]  

@Name nvarchar(50) =null,  

@Gender nvarchar (10)=null,  

@City nvarchar (50)=null,  

@DateOfBirth DateTime =null  

as  

Begin  

 Insert into Employee (Name, Gender, City, DateOfBirth)  

 Values (@Name, @Gender, @City, @DateOfBirth)  

End
GO
/****** Object:  StoredProcedure [dbo].[spDeleteEmployee]    Script Date: 15/02/2021 11:55:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spDeleteEmployee]
@Id int
as
Begin
 Delete from Employee 
 where Id = @Id
End
GO
/****** Object:  StoredProcedure [dbo].[spGetAllEmployees]    Script Date: 15/02/2021 11:55:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spGetAllEmployees]
as
Begin
 Select Id, Name, Gender, City, DateOfBirth
 from Employee
End
GO
/****** Object:  StoredProcedure [dbo].[spSaveEmployee]    Script Date: 15/02/2021 11:55:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[spSaveEmployee]      
@Id int,
@Name nvarchar(50),      
@Gender nvarchar (10),      
@City nvarchar (50),      
@DateOfBirth DateTime 
as      
Begin      
 Update Employee Set
 Name = @Name,
 Gender = @Gender,
 City = @City,
 DateOfBirth = @DateOfBirth
 Where Id = @Id 
End
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 15/02/2021 11:55:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[City] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
